{% extends "admin/index.html" %}
{% load i18n %}

{% if not is_popup %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div style="float:left;">
        <a href="../">{% trans "Home" %}</a> &rsaquo;
        {% for app in app_list %}
            {% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}
        {% endfor %}
    </div>

    <div style="float:right;text-align:right">
        <a href="#"></a>
    </div>
    <div style="clear:both"></div>
</div>
{% endblock %}

{% endif %}

{% block sidebar %}{% endblock %}
